@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    
}

body{
  margin-left: 20px;
  margin-right: 20px;
}

a.active hr{
  display: block;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}


@media(max-width: 640px){

  a.active{
    background-color: black ;
    color: white;
  }

}